<footer class="footer">
  <div class="container">
    <div class="row" id="footer">
      <div class="col-md-3">
        <h1>Derek Watters</h1>
        <p>My love for design has always pushed me to understand the world around me and the engineering behind everything I use.</p>
          <button type="button" class="btn btn btn-outline-secondary btn-block">More About Me</button>
      </div>
      <div class="col-md-3 text-muted">
        <h2>Site Map</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Admin Portal</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-muted">
        <h2>Links</h2>
        <ul class="nav flex-column">
          <li class="nav-item links">
            <button type="button" class="btn btn btn-outline-secondary btn-block">Share Me</button>
          </li>
          <li class="nav-item links">
            <button type="button" class="btn btn btn-outline-secondary btn-block">Download Resume</button>
          </li>
          <li class="nav-item links">
            <button type="button" class="btn btn btn-outline-secondary btn-block">Share My Portfolio</button>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-muted">
        <h2>Follow Me</h2>
        <div class="soc-button linkdin"></div>
        <div class="soc-button stackof"></div>
        <div class="soc-button twitter"></div>
        <div class="soc-button insta"></div>
        <div class="soc-button tumblr"></div>
        <div class="soc-button github"></div>
      </div>
    </div>
    <div class="col-md-12 copyright text-muted">
      <p>All Rights Reserved &copy; 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script>, DerekWatters.com</p>
  </div>
  </div>
</footer>
